body {
    margin: 0;
    background-image: url("./images/background-image.jpeg");
    background-color: rgb(208, 135, 215);
    background-size: cover;
}

.header {
    background-color: rgba(161, 52, 175, 0.9);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    padding: 0px 10px;
}

.header-logo img {   
    width: 3em;
    height: 50%;
    border-radius: 50%;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a{
    text-decoration: none;
    color: rgb(52, 219, 216);
    margin: 20px;
    font-size: 24px;
}

.part1-background {
    background-color: rgb(220, 217, 220, .7);
    width: 85%;
    height: 100%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.part1-right img{
    width: 18em;
    height: 50%;
}